// COLORS //
$none: transparent;
$primary: #f9012d;
$secondary: #f9830f;
$third: #fceae2;
$grey-light: #f7f7f7;
$grey-dark: #a8afbc;
$success: #029c00;
$gradient-button: linear-gradient(0.75turn, $secondary, $primary);
$gradient-button-hover: linear-gradient(0.75turn, $secondary, $none);
$gradient-primary: 0 15px 25px 6px rgba(220, 129, 96, 0.3);
$white: #ffffff;
$black: #0f1221;

:root {
  // UNCHANGER COLORS //
  --none: #{$none};
  --white: #{$white};
  --black: #{$black};
  --primary: #{$primary};
  --secondary: #{$secondary};

  // COLORS LIGHT MODE //
  --white: #{$white};
  --white-bg: #{$white};
  --white-text: #{$black};
  --third: #{$third};
  --container-bg: #{$white};
  --grey-light: #{$grey-light};
  --primary-dark: #870017;
  --shadow-input: 0 12px 33px 0 rgba(108, 108, 108, 0.2);
  --svg-dark-mode: invert(0);

  // UNCHANGER COLORS //
  --none: #{$none};
  --white: #{$white};
  --black: #{$black};
  --primary: #{$primary};
  --secondary: #{$secondary};

  @media (prefers-color-scheme: light) {
    // COLORS LIGHT MODE //
    --white: #{$white};
    --white-bg: #{$white};
    --white-text: #{$black};
    --third: #{$third};
    --container-bg: #{$white};
    --grey-light: #{$grey-light};
    --primary-dark: #870017;
    --shadow-input: 0 12px 33px 0 rgba(108, 108, 108, 0.2);
    --svg-dark-mode: invert(0);
  }

  // COLORS DARK MODE //
  @media (prefers-color-scheme: dark) {
      --white-bg: #{$black};
      --white-text: #{$white};
      --third: #dc8160;
      --container-bg: #2c3340;
      --grey-light: var(--white);
      --primary-dark: var(--white);
      --shadow-input: 0 15px 25px 6px rgba(220, 129, 96, 0.3);
      --svg-dark-mode: invert(1);
  }
}

.light-mode-enable {
  // COLORS LIGHT MODE //
  --white: #{$white};
  --white-bg: #{$white};
  --white-text: #{$black};
  --third: #{$third};
  --container-bg: #{$white};
  --grey-light: #{$grey-light};
  --primary-dark: #870017;
  --shadow-input: 0 12px 33px 0 rgba(108, 108, 108, 0.2);
  --svg-dark-mode: invert(0);
  
}

.dark-mode-enable {
  --white-bg: #{$black};
  --white-text: #{$white};
  --third: #dc8160;
  --container-bg: #2c3340;
  --grey-light: var(--white);
  --primary-dark: var(--white);
  --shadow-input: 0 15px 25px 6px rgba(220, 129, 96, 0.3);
  --svg-dark-mode: invert(1);
}

// Font-Weight //
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 900;

// Radius //
$radius-button: 8px;
$radius-container: 30px;

// Gutter //
$gutter: 10px;

// Screen //
$screen-mobile: 500px;
$screen-mobile-min: ($screen-mobile + 1);
$screen-tablet: 768px;
$screen-tablet-min: ($screen-tablet + 1);
$screen-laptop: 1000px;
$screen-laptop-min: ($screen-laptop + 1);
$screen-desktop: 1200px;

// SHADOWS //
$shadow-input-focus: 0 12px 33px 0 rgba(108, 108, 108, 0.6);

// FONTS //
$primary-light: "Raleway Light", sans-serif;
$primary-regular: "Raleway Regular", sans-serif;
$primary-medium: "Raleway Medium", sans-serif;
$primary-bold: "Raleway Bold", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// FONTS-SIZE //
$mega-font-size: 42px;
$hero-font-size: 46px;
$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$body-font-size: 16px;
$regular-font-size: 14px;
$small-font-size: 12px;

// OVERRIDE BOOTSTRAP VARIABLES //
//== Grid system
//
//## Define your custom responsive grid.
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: $screen-mobile;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: $screen-tablet !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: $screen-laptop !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: $screen-desktop !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//** Number of columns in the grid.
$grid-columns: 12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 2 * $gutter;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$screen-sm: $screen-mobile-min;
$screen-md: $screen-tablet-min;
$screen-lg: $screen-laptop;
$font-size-base: $body-font-size;
