/* Text-color */
.dark-text {
  color: $black;

  @media (prefers-color-scheme: $dark-mode) {
    color: $white;
  }
}

.dark-red {
  color: var(--primary-dark);
}

/* Background-color */
.white-bg {
  background-color: var(--container-bg);

  @media (prefers-color-scheme: $dark-mode) {
    background: var(--container-bg);
    color: var(--white);
  }
}

.third-bg {
  background-color: var(--third);
}

.messages-error {
  color: $primary;
}

.inputs-error {
  border-color: $primary;
}
