/* Text-color */
.dark-text {
  color: $black;

  @media (prefers-color-scheme: $dark-mode) {
    color: $white;
  }
}

.dark-red {
  color: $primary-dark;

  @media (prefers-color-scheme: $dark-mode) {
    color: $white;
  }
}

/* Background-color */
.white-bg {
  background-color: $white;

  @media (prefers-color-scheme: $dark-mode) {
    background: $dark-bg;
    color: $white;
  }
}

.third-bg {
  background-color: $third;

  @media (prefers-color-scheme: $dark-mode) {
    background: $dark-orange;
    color: $white;
  }
}

.messages-error {
  color: $primary;
}

.inputs-error {
  border-color: $primary;
}
