/* Text-color */
.dark-text {
  color: var(--white-text);
}

.dark-red {
  color: var(--primary-dark);
}

/* Background-color */
.white-bg {
  background-color: var(--container-bg);
  color: var(--white-text);
}

.third-bg {
  background-color: var(--third);
}

.messages-error {
  color: $primary;
}

.inputs-error {
  border-color: $primary;
}
