.position-relative {
  position: relative;
}

.position-sticky {
  position: sticky;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.z-ind-2 {
  z-index: 2;
}

.z-ind-3 {
  z-index: 3;
}
