.header-inte {
  color: var(--white);
  display: block;
  font-size: 210px;
  line-height: normal;
  text-shadow: 3px 8px 32px rgba(108, 108, 108, 0.1);
  font-family: $primary-bold;
  z-index: 2;

  @media (max-width: $screen-tablet) {
    font-size: 120px;
  }

  @media (max-width: $screen-mobile) {
    font-size: 130px;
  }
}

.header-ui {
  @extend .header-inte;
  font-size: 150px;

  @media (max-width: $screen-tablet) {
    font-size: 80px;
  }

  @media (max-width: $screen-mobile) {
    font-size: 90px;
  }
}

.header-inte-sep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  z-index: 1;
  font-size: 250px;
  font-family: $primary-bold;
  color: var(--primary);

  @media (max-width: $screen-tablet) {
    font-size: 170px;
  }

  @media (max-width: $screen-mobile) {
    font-size: 130px;
  }
}
