@mixin input-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: $white;
  border-radius: $radius-button;
  padding: $gutter 2 * $gutter;
  border: 0;
  box-shadow: $shadow-input;
  border: solid 1px $none;

  &:active,
  &:focus {
    box-shadow: $shadow-input-focus;
    border: solid 1px $primary;
    outline: 0;
  }

  /* fix ios zoom on input */
  @media (max-width: $screen-laptop) {
    font-size: $body-font-size;
  }

  &[disabled] {
    background: $grey-dark;
    color: $white;
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background: $grey-dark;

      &::after {
        display: none;
      }
    }
  }
}
