@mixin input-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: var(--white-bg);
  border-radius: $radius-button;
  padding: calc(1.5 * $gutter) calc(2 * $gutter);
  border: 0;
  box-shadow: var(--shadow-input);
  border: solid 1px var(--none);
  color: var(--white-text);
  transition: none;

  &:active,
  &:focus {
    box-shadow: $shadow-input-focus;
    border: solid 1px var(--primary);
    outline: 0;
    padding: calc(2.2 * $gutter) calc(2 * $gutter) calc(0.8 * $gutter);
    transition: none;

    &::placeholder {
      color: var(--white-bg);
    }
  }

  /* fix ios zoom on input */
  @media (max-width: $screen-laptop) {
    font-size: $body-font-size;
  }

  &[disabled] {
    background: $grey-dark;
    color: var(--white);
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background: $grey-dark;

      &::after {
        display: none;
      }
    }
  }
}

@mixin toggle-custom {
  display: block;
  border-radius: 20px;
  background-color: var(--secondary);
  padding: calc(#{$gutter} / 5);
  height: calc(2 * #{$gutter});
  width: calc(4 * #{$gutter});
  @include transition-custom(all);

  &::before {
    content: '';
    display: block;
    height: calc((2 * #{$gutter} - 4px));
    width: calc((2 * #{$gutter} - 4px));
    background-color: var(--white);
    border-radius: 100%;
    transform: translateX(0);
    @include transition-custom(all);
  }
}