@mixin input-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: var(--white-bg);
  border-radius: $radius-button;
  padding: $gutter 2 * $gutter;
  border: 0;
  box-shadow: var(--shadow-input);
  border: solid 1px var(--none);
  color: var(--white-text);

  &:active,
  &:focus {
    box-shadow: $shadow-input-focus;
    border: solid 1px var(--primary);
    outline: 0;
  }

  /* fix ios zoom on input */
  @media (max-width: $screen-laptop) {
    font-size: $body-font-size;
  }

  &[disabled] {
    background: $grey-dark;
    color: var(--white);
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background: $grey-dark;

      &::after {
        display: none;
      }
    }
  }
}

@mixin toggle-custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: var(--secondary);
  padding: calc(#{$gutter} / 5);
  height: calc(2 * #{$gutter});
  width: calc(4 * #{$gutter});
  @include transition-custom(all);

  &::before {
    content: '';
    display: block;
    height: calc((2 * #{$gutter} - 4px));
    width: calc((2 * #{$gutter} - 4px));
    background-color: var(--white);
    border-radius: 100%;
    @include transition-custom(all);
  }
}