@mixin button($color-text, $background, $color-text-hover, $background-hover) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $primary-regular;
  font-size: $body-font-size;
  border-radius: $radius-button;
  padding: $gutter $gutter * 2;
  background: $background;
  background-size: 100% 1px;
  color: $color-text;
  flex: 0 0 auto;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  line-height: normal;
  box-shadow: $gradient-primary;
  position: relative;
  overflow: hidden;
  leading-trim: both;
  text-edge: cap alphabetic;
  z-index: 1;
  @include transition-custom(all);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20%;
    height: 100%;
    width: 0;
    background: $background-hover;
    z-index: 1;
    transform: skewX(-40deg);
    transition: all 1s ease;
  }

  &:visited {
    text-decoration: none;
    outline-width: 0;
    color: $color-text;
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline-width: 0;
    color: $color-text-hover;
    cursor: pointer;
    @include transition-custom(all);

    &::after {
      width: 150%;
      transition: all 1s ease;
    }
  }

  &[disabled] {
    background: $grey-dark;
    color: var(--white);
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background: $grey-dark;

      &::after {
        display: none;
      }
    }
  }
}
