.success-button {
  @include button(var(--white), $gradient-button, $success, $success);

  &[disabled] {
    background: $success;
    color: var(--white);
    font-weight: bold;
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background: $success;
      font-weight: bold;

      &::after {
        display: none;
      }
    }
  }
}
